<!DOCTYPE html>
<html lang= "en">
    <head>
        <title>Welcome to the login page</title>
    </head>

    <form action="/lobby" method="POST">
        <input name="seat" type="text" placeholder="e.g. 34G">
        <input name="username" type="text" placeholder="e.g. Haha531">
        <input type="submit" value="Login">
    </form>
</html>